/* CSS Document */


/* Reset */

@font-face {
 font-family: 'exastro-ui-icons';
 src:
  url('../fonts/exastro-ui-icons.ttf?t729c9') format('truetype'),
  url('../fonts/exastro-ui-icons.woff?t729c9') format('woff'),
  url('../fonts/exastro-ui-icons.svg?t729c9#exastro-ui-icons') format('svg');
 font-weight: normal;
 font-style: normal;
 font-display: block;
}

.icon {
 /* use !important to prevent issues with browser extensions that change fonts */
 font-family: 'exastro-ui-icons' !important;
 speak: never;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;

 /* Better Font Rendering =========== */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.icon-exastro:before {
 content: "\e90e"
}

.icon-ita:before {
 content: "\e90f"
}

.icon-oase:before {
 content: "\e92a"
}

.icon-epoch:before {
 content: "\e92b"
}

.icon-plus:before {
 content: "\e92c"
}

.icon-minus:before {
 content: "\e92d"
}

.icon-circle:before {
 content: "\e92e"
}

.icon-cross:before {
 content: "\e92f"
}

.icon-check:before {
 content: "\e930"
}

.icon-copy:before {
 content: "\e958"
}

.icon-pause:before {
 content: "\e931"
}

.icon-clear:before {
 content: "\e932"
}

.icon-lock:before {
 content: "\e933"
}

.icon-manual:before {
 content: "\e934"
}

.icon-update01:before {
 content: "\e935"
}

.icon-update02:before {
 content: "\e919"
}

.icon-return:before {
 content: "\e936"
}

.icon-search:before {
 content: "\e937"
}

.icon-exportImport:before {
 content: "\e938"
}

.icon-arrow01_left:before {
 content: "\e927"
}

.icon-arrow01_right:before {
 content: "\e928"
}

.icon-arrow02_bottom:before {
 content: "\e95b"
}

.icon-arrow02_top:before {
 content: "\e95c"
}

.icon-ellipsis:before {
 content: "\e920"
}

.icon-ellipsis_v:before {
 content: "\e921"
}

.icon-history:before {
 content: "\e922"
}

.icon-clock:before {
 content: "\e939"
}

.icon-menuGroup:before {
 content: "\e923"
}

.icon-menuList:before {
 content: "\e924"
}

.icon-star:before {
 content: "\e925"
}

.icon-logout:before {
 content: "\e91f"
}

.icon-login:before {
 content: "\e926"
}

.icon-rollback:before {
 content: "\e91e"
}

.icon-first:before {
 content: "\e91a"
}

.icon-prev:before {
 content: "\e91b"
}

.icon-next:before {
 content: "\e91c"
}

.icon-last:before {
 content: "\e91d"
}

.icon-branch:before {
 content: "\e918"
}

.icon-detail:before {
 content: "\e908"
}

.icon-cal:before {
 content: "\e909"
}

.icon-cal_off:before {
 content: "\e90a"
}

.icon-edit:before {
 content: "\e90b"
}

.icon-filter:before {
 content: "\e90c"
}

.icon-filter_off:before {
 content: "\e90d"
}

.icon-eye_close:before {
 content: "\e911"
}

.icon-eye_open:before {
 content: "\e912"
}

.icon-gear:before {
 content: "\e913"
}

.icon-link:before {
 content: "\e914"
}

.icon-trash:before {
 content: "\e915"
}

.icon-upload:before {
 content: "\e916"
}

.icon-download:before {
 content: "\e910"
}

.icon-user:before {
 content: "\e917"
}

.icon-heartBreak:before {
 content: "\e900"
}

.icon-heart:before {
 content: "\e901"
}

.icon-missing:before {
 content: "\e902"
}

.icon-progressing:before {
 content: "\e904"
}

.icon-circle_pause:before {
 content: "\e905"
}

.icon-circle_check:before {
 content: "\e906"
}

.icon-circle_question:before {
 content: "\e907"
}

.icon-circle_doubleExclamation:before {
 content: "\e93a"
}

.icon-circle_exclamation:before {
 content: "\e93b"
}

.icon-circle_info:before {
 content: "\e93c"
}

.icon-circle_top:before {
 content: "\e903"
}

.icon-square_prev:before {
 content: "\e93d"
}

.icon-square_next:before {
 content: "\e93e"
}

.icon-square_pause:before {
 content: "\e93f"
}

.icon-stop:before {
 content: "\e940"
}

.icon-attention:before {
 content: "\e94b"
}

.icon-message:before {
 content: "\e94c"
}

.icon-message_q:before {
 content: "\e94d"
}

.icon-align_left:before {
 content: "\e941"
}

.icon-align_center:before {
 content: "\e942"
}

.icon-align_right:before {
 content: "\e943"
}

.icon-align_top:before {
 content: "\e944"
}

.icon-align_horizonal:before {
 content: "\e945"
}

.icon-align_bottom:before {
 content: "\e946"
}

.icon-algin_equally_horizonal:before {
 content: "\e947"
}

.icon-algin_equally_vertical:before {
 content: "\e948"
}

.icon-expansion:before {
 content: "\e94e"
}

.icon-shrink:before {
 content: "\e94f"
}

.icon-pipeline:before {
 content: "\e951"
}

.icon-organization:before {
 content: "\e956"
}

.icon-role:before {
 content: "\e957"
}

.icon-dashboard:before {
 content: "\e929"
}

.icon-note:before {
 content: "\e949"
}

.icon-workspace:before {
 content: "\e94a"
}

.icon-sort:before {
 content: "\e950"
}

.icon-sort_asc:before {
 content: "\e952"
}

.icon-sort_desc:before {
 content: "\e953"
}

.icon-mouse:before {
 content: "\e954"
}

.icon-mouse_left:before {
 content: "\e955"
}

.icon-mouse_right:before {
 content: "\e959"
}

.icon-mouse_wheel:before {
 content: "\e95a"
}

/* div, .oase-icon {
  font-family: oase-web-font;
  font-size: 1.6rem;
} */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
hr,
menu,
nav,
section {
 display: block
}

a,
hr {
 padding: 0
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font-size: 100%;
 vertical-align: baseline;
 background: 0 0
}

ins,
mark {
 background-color: #ff9;
 color: #000
}

body {
 line-height: 1
}

nav ul {
 list-style: none
}

blockquote,
q {
 quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
 content: '';
 content: none
}

a {
 margin: 0;
 font-size: 100%;
 vertical-align: baseline;
 background: 0 0
}

ins {
 text-decoration: none
}

mark {
 font-style: italic;
 font-weight: 700
}

del {
 text-decoration: line-through
}

abbr[title],
dfn[title] {
 border-bottom: 1px dotted;
 cursor: help
}

table {
 border-collapse: collapse;
 border-spacing: 0
}

hr {
 height: 1px;
 border: 0;
 border-top: 1px solid #ccc;
 margin: 1em 0
}

input,
select {
 vertical-align: middle
}

*,
::after,
::before {
 box-sizing: border-box;
}


/* Initial setting */

html,
body {
 height: 100%;
}

html {
 font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif", "oase-web-font";
 font-size: 12px;
}

input,
textarea,
select,
option {
 line-height: 1;
 font-family: inherit;
 font-size: 100%;
}

a:hover {
 text-decoration: none;
}

img {
 max-width: 100%;
 height: auto !important;
 vertical-align: bottom;
}

a:hover img {
 opacity: 0.8;
}

#container {
 overflow: hidden;
 position: relative;
 min-height: 100%;
 padding-bottom: 24px;
 /* background-color: #F2F2F2; */
}

#overlay,
#menuButton,
#tocButton {
 display: none;
}

#grayBack {
 display: none;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 max-width: 100% !important;
 height: 100%;
 background: rgba(255, 255, 255, 0.8);
 z-index: 100;
}

#grayBack img {
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 margin: auto;
 width: 100% !important;
 max-width: 90%;
 max-height: 90%;
 height: 90%;
 object-fit: contain;
 padding-top: 80px;
}

.divInner {
 display: block;
}

span.highlighted {
 background-color: #FF0;
}


/* Header */

#header {
 position: fixed;
 left: 0;
 top: 0;
 z-index: 1000;
 width: 100%;
 height: 64px;
 background-color: #002B62;
}

#header .divInner {
 display: table;
 width: 100%;
 height: 100%;
}

#logo,
#projectName,
#headerSearch {
 display: table-cell;
 vertical-align: middle;
 line-height: 1;
}

#logo,
#projectName {
 width: 1px;
}

#logo {
 padding: 0 8px;
}

#logo img {
 width: auto;
 max-width: none;
 height: 56px !important;
}

#projectName a {
 display: block;
 padding: 0 8px;
 text-decoration: none;
 text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
 line-height: 64px;
 letter-spacing: 0.02em;
 font-family: Verdana, Geneva, "sans-serif";
 font-size: 24px;
 font-weight: bold;
 color: #FFF;
 white-space: nowrap;
}

#projectName a:hover {
 color: #EEE;
}

#headerSearch {
 padding: 0 12px;
 text-align: right;
}

#headerSearch .search {
 display: inline-block;
 position: relative;
 width: 100%;
 max-width: 640px;
}

#headerSearch .search input[type="text"] {
 width: 100%;
 height: 40px;
 padding: 0 48px 0 1em;
 background-color: #EEE;
 border: 1px solid #111;
 border-radius: 4px;
 box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;
 line-height: 40px;
 font-size: 1.2rem;
 color: #000;
}

#headerSearch .search input[type="text"]:-webkit-autofill {
 box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset, 0 0 0px 999px #EEE inset;
 -webkit-text-fill-color: #000 !important;
}

#headerSearch .search button[type="submit"] {
 display: block;
 position: absolute;
 top: 50%;
 right: 8px;
 transform: translateY(-50%);
 width: 32px;
 height: 32px;
 background-color: transparent;
 border: none;
 color: #FFF;
 cursor: pointer;
}

#headerSearch .search button[type="submit"]:hover {
 opacity: 0.8;
}

#headerSearch .search button[type="submit"] img {
 width: 100%;
 height: auto;
 vertical-align: top;
}


/* Toolbar */

#toolbar {
 position: fixed;
 top: 64px;
 left: 0;
 z-index: 1000;
 width: 100%;
 /* min-height: 32px; */
 background-color: white;
}

#toolbar .divInner {
 display: table;
 width: 100%;
 height: 100%;
}

#documentVersion,
#documentLanguage {
 float: left;
}

#documentVersion,
#documentLanguage,
#toolbarNavigation {
 display: table-cell;
 padding: 5px 16px;
 vertical-align: middle;
}

#documentVersion dl,
#documentLanguage dl {
 letter-spacing: -0.4em;
}

#documentVersion dt,
#documentVersion dd,
#documentLanguage dt,
#documentLanguage dd {
 display: inline-block;
 letter-spacing: normal;
 font-size: 0.95rem;
}

#documentVersion dt::after,
#documentLanguage dt::after {
 content: ':';
 padding: 0 0.5em;
}

#toolbarNavigation {
 text-align: right;
}

#toolbarNavigation ul {
 letter-spacing: -0.4em;
}

#toolbarNavigation li {
 display: inline-block;
 letter-spacing: normal;
 text-align: left;
}

#toolbarNavigation li::after {
 content: '|';
 padding: 0 0.5em;
}

#toolbarNavigation li:last-child::after {
 content: '';
}


/* Side Menu */

#sideMenu {
 position: fixed;
 left: 0;
 top: 0;
 z-index: 30;
 width: 320px;
 height: 100%;
 padding: 100px 0 24px;
}

#sideMenu .divInner {
 direction: rtl;
 overflow-y: auto;
 overflow-x: hidden;
 height: 100%;
 background-color: #555;
 background-image: repeating-linear-gradient(-45deg, #444 1px, #444 2px, #4B4B4B 3px, #4B4B4B 4px);
}

#sideMenu p.caption {
 display: none;
}

#sideMenu .divInner>ul {
 direction: ltr;
 border: 1px solid #222;
}

#sideMenu li {
 list-style: none;
 line-height: 1.5;
}

#sideMenu li a {
 display: block;
 position: relative;
 padding: 12px 2em 12px 1em;
 text-decoration: none;
 font-size: 1rem;
 color: #EEE;
}

#sideMenu li a:hover {
 color: #999;
}

#sideMenu li.toctree-l1 {
 border: 1px solid #222;
}

#sideMenu li.toctree-l1>a {
 background-color: #222;
 background-image: linear-gradient(#111, #2D2D2D);
 border-left: 4px solid #666;
}

#sideMenu li.toctree-l2 {
 background-color: #333;
}

#sideMenu li.toctree-l2>a {
 padding: 8px 2em 8px 2em;
 border-top: 1px solid #222;
}

#sideMenu li.toctree-l3>a {
 padding: 2px 1em;
 padding-left: 2em;
}

/* #sideMenu li.toctree-l3:last-child {
  padding-bottom: 8px;
}

#sideMenu li.toctree-l3>a::after {
  content: '';
  position: absolute;
  left: 3.5em;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #999;
}

#sideMenu li.toctree-l3:last-child>a::after {
  height: 50%;
}

#sideMenu li.toctree-l3>a::before {
  content: '';
  position: absolute;
  left: 3.5em;
  top: 50%;
  width: 1em;
  height: 1px;
  background-color: #999;
} */

#sideMenu li.toctree-l4>a {
 padding: 2px 1em;
 padding-left: 3.0em;
}

/* 
#sideMenu li.toctree-l4:last-child {
  padding-bottom: 0px;
}

#sideMenu li.toctree-l4>a::after {
  content: '';
  position: absolute;
  left: 4.0em;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #999;
}

#sideMenu li.toctree-l4>a::after::after {
  content: '';
  position: absolute;
  left: 3.5em;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #999;
}


#sideMenu li.toctree-l4:last-child>a::after {
  height: 50%;
}

#sideMenu li.toctree-l4>a::before {
  content: '';
  position: absolute;
  left: 4.0em;
  top: 50%;
  width: 1em;
  height: 1px;
  background-color: #999;
} */

#sideMenu li.toctree-l5>a {
 padding: 2px 1em;
 padding-left: 5.5em;
}

#sideMenu li.toctree-l5:last-child {
 padding-bottom: 0px;
}

#sideMenu li.toctree-l5>a::after {
 content: '';
 position: absolute;
 left: 4.0em;
 top: 0;
 width: 1px;
 height: 100%;
 background-color: #999;
}

#sideMenu li.toctree-l5:last-child>a::after {
 height: 50%;
}

#sideMenu li.toctree-l5>a::before {
 content: '';
 position: absolute;
 left: 4.0em;
 top: 50%;
 width: 1em;
 height: 1px;
 background-color: #999;
}


/* Current */

#sideMenu li.toctree-l1>a.current,
#sideMenu li.toctree-l2.current>a {
 text-shadow: 1px 1px 0 #000;
 font-weight: bold;
 color: #FFF;
 cursor: default;
}

#sideMenu li.toctree-l1>a.current::after,
#sideMenu li.toctree-l2.current>a::after,
#sideMenu li.toctree-l3.current>a::after {
 content: '\0bb';
 position: absolute;
 right: 8px;
 top: 50%;
 transform: translateY(-50%);
 text-shadow: 1px 1px 0 #000;
 font-weight: bold;
 font-size: 1.6rem;
 color: #FF0;
}


/* Table of Contents */

#tableOfContents {
 position: fixed;
 right: 0;
 top: 120px;
 z-index: 100;
 width: 320px;
 height: calc(100% - 200px);
 padding: 10px 10px;
 overflow-y: scroll;
 overflow-x: visible;
}

#tableOfContents .divInner {
 direction: rtl;
 overflow-y: auto;
 overflow-x: hidden;
 height: 100%;
 /* background-color: #555; */
 /* background-image: repeating-linear-gradient(-45deg, #444 1px, #444 2px, #4B4B4B 3px, #4B4B4B 4px); */
}

#tableOfContents p.caption {
 display: none;
}

#tableOfContents .divInner>ul {
 direction: ltr;
 border: 1px solid #222;
}

#tableOfContents li {
 list-style: none;
 line-height: 1.5;
 margin-left: 2.5em;
}

#tableOfContents>ul>li {
 margin-left: 0;
}

#tableOfContents>ul>li>ul>li {
 margin-left: 2em;
}

#tableOfContents li a {
 display: block;
 position: relative;
 text-decoration: none;
 font-size: 1rem;
 color: #333;
 font-weight: normal;
}


#tableOfContents li li>a::before {
 content: '';
 position: absolute;
 left: -1.0em;
 top: 50%;
 width: 0.5em;
 height: 1px;
 background-color: #999;
}


#tableOfContents li li>a::after {
 content: '';
 position: absolute;
 left: -1.0em;
 top: 0;
 width: 0.5px;
 height: 100%;
 background-color: #999;
}

#tableOfContents li li ul {
 border-left: solid 1px #999;
 margin-left: -1.0em;
}

#tableOfContents li li:last-child>ul {
 border-left: none;
}

#tableOfContents li li:last-child>a::after {
 height: 50%;
}

#tableOfContents li a:hover {
 color: #999;
}

/* Current */

#tableOfContents li.current>a {
 font-weight: bold;
 color: #333;
 cursor: default;
 background-color: #DDD;
}

/* Index */

#homeIndex,
#multiColumnIndex {
 margin-top: -45px;
 max-width: 1200px;
 padding: 24px 16px;
 background-color: #FFF;
}

/* Main */

#contents {
 display: block;
 margin-left: 320px;
 padding: 96px 0 0;
}

#contents::after {
 content: '';
 display: block;
 clear: both;
}


/* breadcrumbs */

#breadcrumbs {
 padding: 24px 24px 0;
 background-color: #FFF;
 line-height: 1.5;
}

#breadcrumbs ul {
 overflow-x: auto;
 overflow-y: hidden;
 letter-spacing: -0.4em;
 white-space: nowrap;
}

#breadcrumbs li {
 display: inline-block;
 letter-spacing: normal;
 font-size: 1rem;
}

#breadcrumbs li::after {
 content: '\0bb';
 display: inline-block;
 padding: 0 0.5em;
 color: #AAA;
}

#breadcrumbs li:last-child::after {
 content: '';
 padding: 0;
}


/* article */

#article .body,
#swaggerBody .body {
 /* min-width: 900px; */
 max-width: 1200px;
 padding: 16px;
 background-color: #FFF;
}


#article #homeIndex,
#article #multiColumnIndex {
 margin-top: -45px;
 max-width: 1200px;
 padding: 24px 16px;
 background-color: #FFF;
}

#article h1 {
 margin-bottom: 16px;
 padding: 12px 24px 10px;
 /* background-image: linear-gradient( #FFF, #F6F6F6); */
 /* border-radius: 0 0 4px 4px; */
 /* line-height: 2.0; */
 font-size: 1.8rem;
 font-weight: bold;
 /* color: #444; */
}

#article h2,
#article .toctree-wrapper .caption {
 margin: 16px 0 16px;
 padding: 8px 16px;
 border-left: 12px solid;
 border-bottom: 1px solid;
 line-height: 1.1;
 font-size: 1.6rem;
 color: #444;
}

#article .toctree-wrapper .caption {
 margin-top: 0;
}

#article h3 {
 border-bottom: solid 1px;
 border-left: solid 6px;
 margin: 4px 0 16px;
 padding: 6px 16px;
 /* background-color: #555; */
 line-height: 1.1;
 font-size: 1.4rem;
 font-weight: normal;
 font-weight: bold;
}

#article h4 {
 margin: 4px 0 16px;
 padding: 6px 16px;
 border-left: 6px solid;
 line-height: 1.1;
 font-size: 1.4rem;
 font-weight: bold;
}

#article h5 {
 line-height: 1.75;
 font-size: 1.3rem;
 font-weight: bold;
 color: #444;
}

#article h5::before {
 content: "■ ";
 font-size: 1.3rem;
 font-weight: bold;
 color: #444;
}

#article h6 {
 line-height: 1.75;
 font-size: 1.2rem;
 font-weight: bold;
 color: #444;
}

#article section {
 padding: 16px 0px;
 background-size: cover;
}

#article a.headerlink {
 visibility: hidden;
 padding-left: 0.25em;
 text-decoration: none;
 color: #CCC;
}

#article .headerlink:hover {
 color: #AAA;
}

#article h1:hover>a.headerlink,
#article h2:hover>a.headerlink,
#article h3:hover>a.headerlink,
#article h4:hover>a.headerlink,
#article h5:hover>a.headerlink,
#article h6:hover>a.headerlink,
#article dt:hover>a.headerlink,
#article caption:hover>a.headerlink,
#article p.caption:hover>a.headerlink,
#article div.code-block-caption:hover>a.headerlink {
 visibility: visible;
}

#article div.code-block-caption {
 margin: 12px 12px 6px 12px;
}

#article div.code-block-caption .caption-number {
 display: none;
}

#article div.code-block-caption .caption-text {
 font-weight: bold;
}

#article div.code-block-caption .caption-text::before {
 content: "▼";
 /* visibility: collapse; */
}

#article h3:hover .headerlink {
 color: #FFF;
 opacity: 0.7;
}

#article h3 .headerlink:hover {
 opacity: 0.9;
}

#article p {
 margin: 12px;
 line-height: 1.75;
 font-size: 1.2rem;
 color: #444;
}

#article div.highlight {
 border-radius: 4px;
 margin: 0 12px;
}

#article pre {
 overflow: auto;
 margin-bottom: 24px;
 padding: 8px 16px;
 border-radius: 4px;
 line-height: 1.5;
 /* font-size: 1.2rem; */
 font-family: 'Consolas', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace, "MS PGothic", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif", "oase-web-font";
}

#article ul,
#article ol {
 margin: 0 12px 12px 18px;
}

#article li>p {
 margin: 0;
}

#article ul.simple>li,
#article ol.simple>li {
 list-style-type: "● ";
 line-height: 1.7;
}

#article ol.arabic>li {
 list-style-type: unset;
 line-height: 1.7;
}

#article ul.simple>li::marker,
#article ol.simple>li::marker {
 font-weight: bold;
}

#article ul.simple>li ul,
#article ol.simple>li ul,
#article ol.simple>li ol {
 padding-left: 1em;
}

#article ul.simple>li>p,
#article ol.simple>li>p {
 margin: 0;
 line-height: 1;
 font-weight: bold;
 display: inline-block;
 border-bottom: solid 1px #ffa500;
}

#article ul.simple>li>p>a,
#article ol.simple>li>p>a {
 text-decoration: none;
 color: #333;
}


#article li li {
 font-weight: normal;
}

#article li ul.simple>li,
#article li ol.simple>li {
 list-style-type: unset;
}

#article li ul.simple>li>p,
#article li ol.simple>li>p {
 margin: 0;
 line-height: 1.7;
 font-weight: normal;
 display: inline-block;
 border-bottom: none;
}

#article li p {
 margin: 0;
}

#article .line-block {
 margin: 6px 0 12px;
}

#article .line {
 /* margin-bottom: 8px; */
 /* padding-bottom: 4px; */
 /* border-bottom: 1px dotted #CCC; */
 line-height: 1.7;
 font-size: 1.2rem;
 color: #333;
}

#article caption {
 text-align: center;
 margin-bottom: 8px;
}

#article .caption-text {
 font-size: 1.2rem;
 font-weight: bold;
}

#article table {
 margin-bottom: 24px;
}

#article table p,
#article table div.line-block {
 margin: 0px;
}

#article table div.line {
 line-height: 1.5;
 font-size: 0.8em;
 padding-bottom: 0px;
}

#article table#icons td:first-child {
 font-size: 50px;
 text-align: center;
}

#article table#icons td:nth-child(n + 2) {
 vertical-align: middle;
}

#article dt {
 font-size: 1.2rem;
 font-weight: bold;
 color: #444;
}

#article dd {
 padding-left: 2em;
 text-indent: 1em;
}

#article th,
#article td {
 border: 1px solid #555;
 background-color: #FFF;
 font-size: 1.2rem;
}

#article th p,
#article td p {
 line-height: 1.5;
 font-size: 0.8em;
 color: #000;
}

#article td div.admonition {
 margin: 8px 16px;
}

#article table.indextable {
 margin-bottom: 24px;
}

#article table.indextable th,
#article table.indextable td {
 padding: 8px;
 border: none;
 background-color: #FFF;
 font-size: 1.2rem;
}

#article table.indextable th p,
#article table.indextable td p {
 line-height: 1.0;
 font-size: 0.8em;
 color: #999;
}

#article thead th.head {
 background-color: #CCC;
 font-weight: normal;
 color: #FFF;
}

#article thead th.head>p,
#article thead th.head>div>* {
 color: #FFF !important;
 padding: 3px 6px;
 display: block;
}

#article tbody th.head {
 background-color: #F2F2F2;
}

#article td {
 /* text-align: left; */
 word-break: break-all;
 padding: 3px 6px;
}

#article tr.row-odd td {
 background-color: #F9F9F9;
}

#article table.filter-table span.icon-filter:before {
 content: "\e936";
 display: inline-block;
 padding: 2px 2px;
}

#article table.filter-table .iconButton .icon {
 margin-right: 8px;
}

#article table.filter-table .button .icon {
 vertical-align: -10%;
 font-size: 120%;
 opacity: .8;
}

#article table.filter-table .icon {
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

#article table.filter-table .icon-filter:before {
 content: "\e936";
}

#article table.filter-table .ft-filter {
 display: inline-block;
 position: relative;
 margin: 3px 6px;
 z-index: 200;
}

#article table.filter-table .ft-filter {
 margin: 3px 6px;
}

#article table.filter-table .ft-button:hover {
 background: #FFD700;
}

#article table.filter-table .ft-button path {
 fill: #777;
}

#article table.filter-table .ft-button:hover,
#article table.filter-table .ft-button.selected {
 background-color: #FFA500;
 color: #FFF;
 border-radius: 2px;
}

#article table.filter-table .ft-list {
 display: inline-block;
 position: absolute;
 max-width: 300px;
 min-width: 200px;
 background: #fff;
 border: 1px solid #002B62;
 border-radius: 5px;
 top: 15px;
 left: 0;
 line-height: 1.1;
 font-weight: normal;
}

#article table.filter-table .ft-list form {
 max-height: 300px;
 overflow: scroll;
 overflow: overflow-y;
 overflow: auto;
}

#article table.filter-table .ft-check-row {
 text-align: left;
 padding: 2px;
 width: 250px;
}

#article table.filter-table .ft-check-row input,
#article table.filter-table .ft-check-row label {
 padding: 0 10px 0 3px;
 color: #333;
 font-size: 1rem;
 display: inline;
 /* text-overflow: ellipsis;
  width: 275px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block; */
}

#article table.filter-table .ft-button-area {
 text-align: center;
 font-size: 0.5rem;
 padding: 8px 5px;
}

#article table.filter-table .ft-button-area input {
 display: inline-block;
 margin: 0 5px;
 width: 60px;
 height: 30px;
 font-size: 1.1rem;
 color: #FFF;
 border: none;
 border-radius: 4px;
}

#article table.filter-table .ft-button-area input[value="OK"] {
 background-color: #56B20C;
}


#article table.filter-table .ft-button-area input[value="Cancel"] {
 background-color: #666;
}

#article table.filter-table .ft-input-area {
 padding: 5px 3px;
 border-top: 1px solid #999;
 border-bottom: 1px solid #999;
}

#article table.filter-table .ft-input-area input {
 box-sizing: border-box;
 width: 100%;
 padding: 6px 6px;
 font-weight: normal;
 font-size: 95%;
 border: 1px solid #ccc;
 color: #333;
}

#article .menuselection {
 font-weight: 600;
}

#article .file {
 font-weight: bold;
 font-family: Times New Roman, "ＭＳ Ｐゴシック", "MS PGothic";
}

#article .kbd {
 font-weight: bold;
 font-family: Times New Roman, "メイリオ";
 border-bottom: solid 1px #AAA;
}

#article .guilabel {
 border-top: solid 1px gray;
 border-left: solid 1px gray;
 border-right: solid 2px gray;
 border-bottom: solid 2px gray;
 border-radius: 4px;
 padding: 0px 8px;
 /* font-weight: 600; */
 font-size: 1.0 em;
}

#article .program {
 font-style: italic;
 font-weight: bold;
 font-family: Times New Roman, "ＭＳ Ｐゴシック";
}

#article .highlight-default {
 margin-bottom: 24px;
}

#article blockquote,
#article .admonition {
 overflow: hidden;
 position: relative;
 margin: 12px;
 padding: 9px 9px 0px 24px;
 background-color: #FFF;
 border: 2px solid #DDD;
 border-radius: 4px;
}

#article blockquote p,
#article .admonition p {
 color: #333;
}

#article .admonition::before {
 font-weight: 600;
}

#article blockquote::before,
#article .admonition .admonition-title {
 content: '';
 display: block;
 position: absolute;
 left: 0;
 top: 0;
 z-index: 0;
 width: 12px;
 height: 100%;
 background-color: #DDD;
 text-indent: -9999px;
 margin: 0;
}

#article .admonition p:not(.admonition-title),
#article .admonition .line-block .line {
 margin: 0px 6px 0px;
}

/* #article blockquote::after,
#article .admonition .admonition-title::after {
  display: block;
  position: absolute;
  top: 50%; left: 0;
  z-index: 10;
  transform: translateY( -50% );
  width: 48px;
  text-indent: 0;
  text-align: center;
  font-family: "Courier New", Courier, "monospace";
  font-size: 2.4rem;
  font-weight: bold;
  color: #FFF;
} */


/* Internal Table */

#article table .admonition {
 margin: 12px 0;
 padding: 6px 6px 6px 24px;
}

#article table .admonition .line-block {
 /* font-size: 0.8em; */
 margin: 3px !important;
}

#article table .admonition .line-block .line {
 /* font-size: 0.8em; */
 margin: 0 !important;
 font-size: 0.8em;
}


/* NOTE */

#article .admonition.note {
 /* background-color: #e4f0f9; */
 background-color: #fff;
 border-color: #4a9eda;
}

#article .admonition.note::before {
 color: #004d84;
 content: 'Note:';
}

#article .admonition.note .admonition-title {
 background-color: #4a9eda;
}

/* #article .admonition.note .admonition-title::after {
  content: 'Note';
} */

#article .admonition.note p:not(.admonition-title),
#article .admonition.note .line-block .line {
 color: #004d84;
}


/* TIP */

#article .admonition.tip {
 /* background-color: #f9ede4; */
 background-color: #fff;
 border-color: #cc5500;
}

#article .admonition.tip::before {
 color: #843700;
 content: 'Tip:';
}

#article .admonition.tip .admonition-title {
 background-color: #cc5500;
}

#article .admonition.tip p:not(.admonition-title),
#article .admonition.tip .line-block .line {
 color: #843700;
}


/* WARNING */

#article .admonition.warning {
 /* background-color: #FFF2CC; */
 background-color: #fff;
 border-color: #FFDD00;
}

#article .admonition.warning::before {
 color: #000;
 content: 'Warning:';
}

#article .admonition.warning .admonition-title {
 background-color: #FFDD00;
}

#article .admonition.warning p:not(.admonition-title),
#article .admonition.warning .line-block .line {
 color: #000;
}


/* DANGER */

#article .admonition.danger {
 /* background-color: #faeaeb; */
 background-color: #fff;
 border-color: #cc0011;
}

#article .admonition.danger::before {
 color: #a2000d;
 content: 'Danger:';
}

#article .admonition.danger .admonition-title {
 background-color: #cc0011;
}

#article .admonition.danger p:not(.admonition-title),
#article .admonition.danger .line-block .line {
 font-weight: bold;
 color: #a2000d;
}

/* Details */

#article details {
 margin-bottom: 24px;
}

#article details summary {
 margin-bottom: 12px;
 font-size: larger;
 font-weight: bold;
 text-decoration: underline;
 cursor: pointer;
}

/* #article li *:last-child,
#article th *:last-child,
#article td *:last-child,
#article blockquote *:last-child,
#article .highlight-default *:last-child,
#article .line-block *:last-child,
#article .admonition *:last-child {
  margin-top: 10px;
  margin-left: 10px;
} */

#article .glossary {
 padding: 12px;
}


#article .glossary dt {
 font-size: 1.2rem;
 font-weight: bold;
 color: #444;
}

#article .glossary dd {
 padding-left: 2em;
 text-indent: 1em;
}

#article .toctree-wrapper ul {
 list-style: none;
 padding: 0;
}

#article .toctree-wrapper li {
 margin-left: 2em;
}

#article .toctree-wrapper li:first-child {
 padding-top: 8px;
}

#article .toctree-wrapper li:last-child {
 border: none;
}

#article .toctree-wrapper a {
 text-decoration: none;
 color: #333;
 font-size: 0.8em;
 font-weight: bold;
}

#article .toctree-wrapper a:hover {
 color: #999;
}

#article .toctree-wrapper .toctree-l1 {
 font-size: 1.3rem;
}

#article .toctree-wrapper .toctree-l2 {
 padding-bottom: 8px;
 font-size: 1.3rem;
}

#article .toctree-wrapper .toctree-l3 {
 font-size: 1.2rem;
}

#article .toctree-wrapper .toctree-l4 {
 font-size: 1rem;
}

#article .toctree-wrapper .toctree-l4:last-child {
 padding-bottom: 8px;
}

#article table {
 margin: 12px;
 display: inline-block;
 vertical-align: top;
}

#article figure {
 padding: 12px;
 display: inline-grid;
}

#article figure>a {
 text-align: center;
}

#article img.align-left,
#article figure.align-left,
#article object.align-left {
 clear: left;
 /* float: left; */
 margin-right: 1em;
 display: inline-grid;
}

#article img.align-right,
#article figure.align-right,
#article object.align-right {
 display: inline-grid;
 clear: right;
 float: right;
 margin-left: 1em;
}

#article img.align-center,
#article figure.align-center,
#article object.align-center {
 display: inline-grid;
 margin-left: auto;
 margin-right: auto;
}

#article img.align-default,
#article figure.align-default {
 display: inline-grid;
 margin-left: auto;
 margin-right: auto;
}

#article .align-left {
 text-align: left;
}

#article .align-center {
 text-align: center;
}

#article .align-default {
 text-align: left;
}

#article .align-right {
 text-align: right;
}

#article figcaption {
 text-align: center;
}

#article button.copybtn {
 width: 2.0em;
 height: 2.0em;
 border-radius: 2px;
}

#article button.copybtn svg {
 stroke: currentColor;
 width: 2.0em;
 height: 2.0em;
 padding: 0.1em;
}

/* articleNavigation */

#articleNavigation {
 padding: 16px 24px;
}

#articleNavigation span {
 display: none;
}

#articleNavigation ul {
 margin: 0;
 padding: 0;
}

.arabic.simple {
 counter-reset: item;
}

/* .arabic.simple li:before {
  counter-increment: item 1;
  content: counter(item)'.';
  padding-right: .5em;
  font-weight: bold;
} */

.arabic.simple li p {
 display: inline;
}

#articleNavigation li {
 display: inline-block;
}

#articleNavigation li::after {
 content: '/';
 padding: 0 0.5em;
 color: #AAA;
}

#articleNavigation li:last-child::after {
 content: '';
 padding: 0;
}

#articleNavigation li.prev::before,
#articleNavigation li.prev::after {
 display: inline-block;
 color: #AAA;
}

#articleNavigation li.prev::before {
 content: '\0ab';
 padding-right: 0.5em;
}

#articleNavigation li.next::after {
 content: '\0bb';
 padding-left: 0.5em;
}

#pageTopLink {
 position: fixed;
 right: 16px;
 bottom: 24px;
 opacity: 0;
 transition-duration: 0.3s;
}

#pageTopLink.on {
 right: 16px;
 opacity: 1;
}

#pageTopLink a {
 display: inline-block;
 padding: 8px 8px 4px;
 background-color: #333;
 border-radius: 4px 4px 0 0;
 text-decoration: none;
 font-size: 12px;
 color: #FFF;
}

#pageTopLink a:hover {
 color: #CCC;
}


/* Footer */

#footer {
 position: fixed;
 left: 0;
 bottom: 0;
 z-index: 1000;
 width: 100%;
 height: 24px;
 background-color: #333;
 line-height: 24px;
 text-align: center;
}

#footer small {
 font-size: 0.84rem;
 color: #FFF;
 margin: 0 5px;
}

#footer small a {
 text-decoration-color: #FFF;
 color: #FFF;
}

/* index */

#index #container {
 background-color: #FFF;
}

#indexImages {
 float: right;
 position: relative;
 width: 20%;
 max-width: 640px;
}

#indexImages::after {
 content: '';
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 10;
 width: 100%;
 padding-bottom: 75%;
 background: url("img/exastro_monitor.png") center center no-repeat;
 background-size: contain;
}

#indexImages li {
 position: absolute;
 top: 0;
 left: 0;
}

#index #article .body {
 padding: 0;
}

#index #article .body .section {
 padding: 64px 48px;
 background-color: #EFEFEF;
 background: linear-gradient(transparent, #FFF), url("img/home_title_back.png") center center no-repeat;
 background-size: cover;
 border-top: 8px solid #CCC;
}

#index #article .body h1 {
 margin: 10px 20px;
 padding: 0;
 background: none;
 border: none;
 border-radius: 0;
 font-size: 2.0rem;
 color: #333;
 line-height: 2.0;
}

#index #article .body h1 .headerlink {
 display: none !important;
}

#index #article .body p {
 margin: 0;
 padding: 0;
 font-size: 1.4rem;
 color: #333;
}

#index #article li {
 line-height: 1.75;
 font-size: 1.2rem;
 font-weight: bold;
 color: #444;
 list-style: none;
}


#article #homeIndex ul {
 margin: 0;
 padding: 0;
}

#article #homeIndex li {
 margin: 0 0 8px;
 padding: 0;
 border-left: 4px solid #AAA;
 list-style: none;
}

#article #homeIndex li a {
 display: block;
 padding: 8px 16px;
 background-color: #FFF;
 /* background-image: linear-gradient( #FFF, #F2F2F2); */
 border: 1px solid #CCC;
 border-left: none;
 color: #444;
 line-height: 1.7;
 font-weight: bold;
}

#article #homeIndex:f li a:hover {
 background-image: linear-gradient(#F2F2F2, #FFF);
 color: #333;
}

#article #multiColumnIndex ul {
 margin: 0;
 padding: 0;
}

#article #multiColumnIndex div.toctree-wrapper.compound>ul {
 display: flex;
 flex-wrap: wrap;
}

#article #multiColumnIndex .toctree-wrapper li:first-child {
 padding-top: 0;
}

#article #multiColumnIndex li {
 margin: 24px 0;
}

#article #multiColumnIndex li>a {
 font-size: 1.1em
}

#article #multiColumnIndex li li {
 padding: 0;
 border: 1px solid #002b62;
 list-style: none;
 height: 100px;
 width: 200px;
 float: left;
 margin: 10px;
 border-radius: 0px;
}

#article #multiColumnIndex li li a {
 color: #444;
 line-height: 1.7;
 font-weight: bold;
 height: 100%;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 10px;
 text-align: center;
}

#article #multiColumnIndex li li:hover {
 background-image: linear-gradient(90deg, #002B62, #6680A1);
 color: white;
 border: none;
 border-bottom: solid orange 11px;
}

#article #multiColumnIndex li li:hover a {
 color: white;
}

#swaggerBody {
 padding: 16px 0 32px;
 background-color: #FFF;
 background-image: url(/docs/asset/img/content_back.png);
 line-height: 1.5;
 font-size: 14px;
 color: #002B62;
}

#swaggerBody::after {
 content: '';
 display: block;
 clear: both;
}

#swaggerBody ul {
 margin: 1em 0;
}

#swaggerBody .topbar {
 /* display: none; */
}

#swaggerBody .main {
 margin-bottom: 24px;
 padding-bottom: 16px;
 border-bottom: 1px solid #002B62;
}

#swaggerBody .title {
 margin-bottom: 8px;
 color: #002B62;
}

#swaggerBody .description ul {
 list-style: none;
}

#swaggerBody .swagger-ui .opblock-tag {
 padding: 8px 16px 7px;
 line-height: 1.3;
 font-size: 24px;
 font-weight: bold;
 background-color: #002B62;
 background-image: linear-gradient(90deg, #002B62, #6680A1);
 border-left: 8px solid #F7931E;
 border-bottom: none;
 letter-spacing: 0.05em;
 color: #FFF;
}

#swaggerBody .opblock-tag {
 margin-bottom: 16px;
}

#swaggerBody .opblock-tag .arrow {
 fill: #FFEE00;
}

#swaggerBody .swagger-ui .opblock-tag small {
 color: #FFF;
}

#swaggerBody .operation-tag-content {
 background-color: #FFF;
 margin-bottom: 32px;
}

#swaggerBody.renderedMarkdown p {
 margin: 0 0 8px;
}

#swaggerBody .swagger-ui img {
 max-width: 200px;
 content: url(/_static/img/exastro.png);
}

@media screen and (max-width: 1850px) {

 #tableOfContents {
  right: -352px;
  width: 352px;
  background-color: #FFF;
  border: 1px solid #CCC;
  transition-duration: 0.3s;
  padding: 10px 10px;
 }

 #tableOfContents.on {
  right: 0;
 }

 #tocButton {
  float: right;
  display: block;
  position: fixed;
  width: 31px;
  height: 46px;
  padding: 16px 4px 0 0;
  cursor: pointer;
 }

 #tocButton::before {
  content: 'Table of Contents';
  display: revert;
  position: fixed;
  font-size: 0.5em;
  top: 50%;
  right: -40px;
  width: 100px;
  height: 20px;
  background-size: 100% 100%;
  border-radius: 2px 2px 0 0;
  border: solid 1px #CCC;
  background-color: #CCC;
  transform: rotate(270deg);
  transition-duration: 0.3s;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
 }

 #tocButton::before {
  /* background: #222; */
 }

 #tocButton:hover::before {
  opacity: 0.8;
 }

 #tableOfContents.on #tocButton::before {
  right: 311px;
 }

}


@media screen and (max-width: 1200px) {
 #logo {
  width: 80px;
 }

 #logo::after {
  content: '';
  display: block;
  padding-bottom: 68.2%;
  background: url("img/exastro_l.png") center center no-repeat;
  background-size: contain;
 }

 #logo img {
  display: none;
 }

 #sideMenu {
  left: -320px;
  width: 352px;
  /* background-color: #F2F2F2; */
  /* border-right: 1px solid #CCC; */
  transition-duration: 0.3s;
 }

 #sideMenu.on {
  left: 0;
 }

 #menuButton {
  float: right;
  display: block;
  position: relative;
  width: 31px;
  height: 46px;
  padding: 16px 4px 0 0;
  cursor: pointer;
 }

 #menuButton::after,
 #menuButton::before {
  content: '';
  display: block;
  position: absolute;
  top: 16px;
  left: 0;
  width: 28px;
  height: 28px;
  background: url(img/icon_menu.png) center center no-repeat;
  background-size: 100% 100%;
  border-radius: 0 4px 4px 0;
 }

 #menuButton::before {
  background: #222;
 }

 #menuButton:hover::after {
  opacity: 0.8;
 }

 #sideMenu.on #menuButton::after {
  background-image: url(img/icon_cross.png);
 }

 #sideMenu .divInner {
  position: relative;
 }

 #contents {
  margin-left: 32px;
 }
}

@media screen and (max-width: 900px) {
 html {
  font-size: 0.75rem;
 }

 #logo {
  width: 48px;
 }

 #header {
  height: 32px;
 }

 #projectName a {
  line-height: 32px;
  font-size: 14px;
 }

 #headerSearch {
  padding: 0 4px;
 }

 #headerSearch .search input[type="text"] {
  height: 28px;
  padding: 0 44px 0 0.5em;
  border-width: 1px;
  line-height: 28px;
 }

 #headerSearch .search button[type="submit"] {
  right: 0;
  width: 28px;
  height: 28px;
 }

 #toolbar {
  top: 32px;
  /* min-height: 28px; */
 }

 #sideMenu,
 #contents {
  padding-top: 60px;
 }

 #breadcrumbs {
  padding: 16px 16px 0;
 }

 #article .body {
  padding: 16px;
 }

 #article h1 {
  margin-bottom: 24px;
 }

 #article h2,
 #article .toctree-wrapper .caption {
  margin: 32px 0 24px;
 }

 /* #article h3 {
    margin: 24px 0 16px;
  } */

 #article p,
 #article .highlight-default,
 #article .line-block,
 #article blockquote,
 #article .admonition {
  margin-bottom: 16px;
 }

 #articleNavigation {
  padding: 0 0 32px;
  border-top: 1px solid #DDD;
 }

 #articleNavigation li {
  display: block;
 }

 #articleNavigation li.home,
 #articleNavigation li::before,
 #articleNavigation li::after {
  display: none !important;
 }

 #articleNavigation li a {
  position: relative;
  display: block;
  padding: 8px 32px 8px 16px;
  background-image: linear-gradient(#F9F9F9, #EEE);
  border-bottom: 1px solid #DDD;
  text-decoration: none;
  color: #333;
 }

 #articleNavigation li a::after {
  content: '\0bb';
  display: block;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: bold;
 }

 #articleNavigation span {
  display: inline-block;
 }

 #articleNavigation span::after {
  content: ':';
  display: inline-block;
  padding: 0 0.5em;
  color: #666;
 }

 #contents {
  margin-left: 0px;
 }

 #index #article .body .section {
  padding: 48px 32px;
 }
}

@media screen and (max-width: 600px) {
 html {
  font-size: 0.75rem;
 }

 #sideMenu {
  left: -240px;
  width: 272px;
  max-width: 100%;
 }

 #tableOfContents {
  right: -272px;
  width: 272px;
  max-width: 100%;
 }

 #sideMenu,
 #contents {
  padding-top: 120px;
 }

 #tableOfContents.on #tocButton::before {
  right: 231px;
 }

 #breadcrumbs {
  padding: 8px 8px 0;
 }

 #article .body {
  padding: 8px;
 }

 #article h1 {
  padding: 8px 12px 7px;
 }

 #article #homeIndex {
  margin-top: 0;
  max-width: 1200px;
  padding: 8px 8px;
  background-color: #FFF;
 }

 #article blockquote,
 #article .admonition {
  padding: 16px 16px 16px 40px;
 }

 #article blockquote::before,
 #article .admonition .admonition-title {
  width: 24px;
 }

 #article blockquote::after,
 #article .admonition .admonition-title::after {
  width: 24px;
 }

 #article th,
 #article td {
  padding: 4px 8px;
 }

 #index #article .body .section {
  padding: 32px 24px;
 }

 #contents {
  margin-left: 0px;
 }
}